<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/features.css">
    <link rel="icon" type="image/png" href="/images/logo.png">
    <title>Polyglot Room</title>
</head>

<body> 

    <nav>
        <div class="nav-logo">
            <img src="/images/logo.png">
        </div>

        <ul class="nav-links">
            <li class="link"><a href="/">Home</a></li>
            <li id="link1" class="link"><a href="/features">Features</a></li>
            <li id="link2" class="link"><a href="/culture-bot">Culture Bot</a></li>
            <li id="link3" class="link"><a href="/account">Account</a></li>
        </ul>
        <a href="/login"><button class="btn">Login</button></a>
    </nav>

    <br>
    <h2 class="features-info">Here you can read about our website used technology</h2>
    <br>
    <div class="content">
        <div class="works-list">
            <div class="item">
                <img src="/images/item-1.jpg">
                <div class="details">
                    <h3>Video Conference</h3>
                    <p>WebRTC video conferencing simplifies online communication by allowing people
                         to talk and share visuals directly through their web browsers.
                          This technology ensures smooth, secure, and high-quality interactions.
                           With WebRTC, users can engage in group discussions,
                            share their screens, and collaborate effectively,
                         breaking down geographical barriers and fostering productivity in various settings.</p>
                </div>
            </div>
            <div class="item">
                <img src="/images/item-2.jpg">
                <div class="details">
                    <h3>Text Chat</h3>
                    <p>Text chat platforms facilitate easy and convenient online communication through
                         written messages exchanged via web browsers.
                          These platforms provide a user-friendly environment for people to engage
                           in discussions, share ideas, and collaborate. Text chat systems often include features like group messaging, 
                           file sharing, and real-time updates, making it simple for users to 
                           connect and work together,
                         regardless of their physical locations.</p>
                </div>
            </div>
            <div class="item">
                <img src="/images/item-3.jpg">
                <div class="details">
                    <h3>Culture Chat Bot</h3>
                    <p>Culture chatbots are AI-driven conversational agents designed to 
                        engage users in discussions related to various cultural aspects, 
                        such as traditions, history, art, music, and cuisine. These bots are 
                        developed to provide educational and entertaining experiences, fostering 
                        a deeper understanding of diverse cultures and promoting global awareness.
                         By using natural language processing and machine learning algorithms, 
                         culture chatbots can adapt to user preferences
                         and tailor their responses to deliver personalized interactions.</p>
                </div>
            </div>
            <div class="item">
                <img src="/images/item-4.png">
                <div class="details">
                    <h3>Live Translation</h3>
                    <p>Translation  is a digital service that offers language conversion ,
                         enabling users to communicate across linguistic barriers.
                          It empowers individuals and businesses to transcend cultural boundaries
                           by providing accurate, contextual translations. This user-friendly online 
                           tool caters to diverse needs, including legal, medical, and creative content,
                         fostering global understanding and collaboration.</p>
                </div>
            </div>
            <div class="item">  
                <img src="/images/item-5.png">
                <div class="details">
                    <h3>Text To Speech</h3>
                    <p>Text-to-speech (TTS) technology converts written text into spoken words,
                         bridging the gap between reading and listening. It benefits individuals
                          with visual impairments, learning disabilities, or those preferring auditory 
                          content. TTS systems use advanced algorithms and natural-sounding voices to deliver
                           accurate pronunciation and intonation. This innovative tool enhances accessibility
                            and promotes inclusivity in various applications, such as e-learning, audiobooks, 
                            and voice assistants.

                    </p>
                </div>
            </div>
            <div class="item">
                <img src="/images/item-6.jpg">
                <div class="details">
                    <h3>Voice Recognition</h3>
                    <p>Speech recognition, also known as automatic speech recognition (ASR) or 
                        voice recognition, is a technology that enables computers to transcribe
                         spoken words into written text. It facilitates hands-free interaction,
                          improving efficiency and accessibility. This advanced system employs machine 
                          learning algorithms to analyze and interpret human speech, continuously 
                          refining its accuracy. Speech recognition plays a vital role in virtual assistants,
                           dictation software, and language translation, fostering seamless communication and
                            enhancing user experience.

                    </p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="socials">
            <i class='bx bxl-facebook-square'></i>
            <i class='bx bxl-instagram'></i>
            <i class='bx bxl-twitter'></i>
            <i class='bx bxl-linkedin-square'></i>
        </div>
        <p>Copyright © 2024 Polyglot Room. All Rights Reserved.</p>
    </footer>


</body>

</html>