<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" type="image/png" href="/images/logo.png">
    <title>Polyglot Room</title>
</head>

<body>

    <nav>
        <div class="nav-logo">
            <img src="/images/logo.png">
        </div>

        <ul class="nav-links">
            <li id="link0"class="link"><a href="/">Home</a></li>
            <li id="link1" class="link"><a href="/features">Features</a></li>
            <li id="link2" class="link"><a href="/culture-bot">Culture Bot</a></li>
            <li id="link3" class="link"><a href="/account">Account</a></li>
        </ul>
        <a href="/login"><button class="btn">Login</button></a>
    </nav>

    <header class="container">
        <div class="content">
            <span class="blur"></span>
            <span class="blur"></span>
            <h4>WELCOME TO POLYGLOT ROOM !</h4>
            <H1>Where <span>Language </span>barrier is not a problem</H1>
            <p>
                welcome to our haven for communication!
                where you can chat with people all around the world with no language limits.
                as you traverse through the rich landscape of linguistic diversity,
                you will discover explore, learn and discover a deeper appreciation for the world's vibrant cultures.
                join us in celebrating the power of words and the bridges they help us build.
            </p>
            <a href="/room"><button class="btn">Join Random Room</button></a>
        </div>
        <div class="image">
            <img src="/images/header.png">
        </div>
    </header>

    <section class="container">
        <h2 class="header">WHAT DO WE HAVE</h2>
        <div class="features">
            <div class="card">
                <span><i class="ri-video-line"></i></span>
                <h4>video Chat</h4>
                <p> 
                    Share ideas, learn new skills,
                     and build global friendships.
                     
                </p>
                <a href="/features">learn more <i class="ri-arrow-right-line"></i></a>
            </div>
            <div class="card">
                <span><i class="ri-file-text-line"></i></span>
                <h4>Text Chat</h4>
                <p>
                    Enjoy real-time language practice and cultural exchange.
                </p>
                <a href="/features">learn more <i class="ri-arrow-right-line"></i></a>
            </div>
            <div class="card">
                <span><i class="ri-global-line"></i></span>
                <h4>Live Translation</h4>
                <p>
                    You don't need to worry about the language barrier at all.
                </p>
                <a href="/features">learn more <i class="ri-arrow-right-line"></i></a>
            </div>
            <div class="card">
                <span><i class="ri-robot-2-line"></i></span>
                <h4>Culture Bot</h4>
                <p>
                    Learn geography and people culture around the world with out bot.
                </p>
                <a href="/features">learn more <i class="ri-arrow-right-line"></i></a>
            </div>
        </div>
    </section>

    
    <footer class="container">
        <span class="blur"></span>
        <span class="blur"></span>
        <div class="column">
            <div class="logo">
                <img src="/images/logo.png">
            </div>
            <p>
                Follow us on social media.
            </p>
            <div class="socials">
                <a href="#"><i class="ri-youtube-line"></i></a>
                <a href="#"><i class="ri-instagram-line"></i></a>
                <a href="#"><i class="ri-twitter-line"></i></a>
            </div>
        </div>
        <div class="column">
            <h4>Company</h4>
            <a href="#">Business</a>
            <a href="#">Partnership</a>
            <a href="#">Network</a>
        </div>
        <div class="column">
            <h4>About Us</h4>
            <a href="#">Blogs</a>
            <a href="#">Channels</a>
            <a href="#">Sponsors</a>
        </div>
        <div class="column">
            <h4>Contact</h4>
            <a href="#">Contact Us</a>
            <a href="#">Privicy Policy</a>
            <a href="#">Terms & Conditions</a>
        </div>
    </footer>

    <div class="copyright">
        Copyright © 2024 Polyglot Room. All Rights Reserved.
    </div>


</body>

</html>